

  <h1>Admin View Works</h1>

  <div>
    <button type="button" name="button" ng-click="ac.authUser()"> login </button>
    <button type="button" name="button" ng-click="ac.deAuthUser()"> logout </button>
    <button type="button" name="button" ng-click="ac.buttonClick()"> Get </button>
    <img class="photoId" src="{{ac.photo}}">
  </div>

  <!-- blank dims -->
  <div id="tableDiv">
    <table id="adminTable" ng-repeat="blank in ac.adminBlankFactoryObject.list">
      <tr id="adminTable">
        <td class="adminTd"> <input type="text" placeholder="mfg name" ng-model="blank.mfgname"> MFG Name </td>
        <td class="adminTd"> <input type="text" placeholder="blank name" ng-model="blank.blankname"> Blank Name </td>
        <td class="adminTd"> <input type="text" placeholder="blank length" ng-model="blank.blanklength"> Blank Length </td>
        <td class="adminTd"> <input type="text" placeholder="blank material" ng-model="blank.blankmaterial"> Blank Material </td>
        <td class="adminTd"> <input type="text" placeholder="handle length" ng-model="blank.handlelength"> Handle Length </td>
        <td class="adminTd"> <input type="text" placeholder="guide tiptop" ng-model="blank.guidesizetiptop"> Guide Size TipTop </td>
        <td class="adminTd"> <input type="text" placeholder="guide second" ng-model="blank.guidesizetwo"> Guide Size Two </td>
        <td class="adminTd"> <input type="text" placeholder="guide third" ng-model="blank.guidesizethree"> Guide Size Three </td>
        <td class="adminTd"> <input type="text" placeholder="guide fourth" ng-model="blank.guidesizefour"> Guide Size Four </td>
        <td class="adminTd"> <input type="text" placeholder="guide fifth" ng-model="blank.guidesizefive"> Guide Size Five </td>
        <td class="adminTd"> <input type="text" placeholder="guide sixth" ng-model="blank.guidesizesix"> Guide Size Six </td>
        <td class="adminTd"> <input type="text" placeholder="measurement 1st-2nd" ng-model="blank.onetwo"> Guide Size Tip Top - Second </td>
        <td class="adminTd"> <input type="text" placeholder="measurement 2nd-3rd" ng-model="blank.twothree"> Guide Size Second - Third </td>
        <td class="adminTd"> <input type="text" placeholder="measurement 3rd-4th" ng-model="blank.threefour"> Guide Size Third - Fourth </td>
        <td class="adminTd"> <input type="text" placeholder="measurement 4th-5th" ng-model="blank.fourfive"> Guide Size Fourth - Fifth </td>
        <td class="adminTd"> <input type="text" placeholder="measurement 5th-6th" ng-model="blank.fivesix"> Guide Size Fifth - Sixth </td>
        <td> <button class="upDelete" type="button" name="button" ng-click="ac.updateAdmin(blank)" > UPDATE </button> </td>
        <td> <button class="upDelete" type="button" name="button" ng-click="ac.deleteAdmin(blank)"> DELETE </button> </td>
      </tr>
    </table>
  </div>

<!-- thread dims -->
  <div id="tableDiv">
    <!-- need to create path -->
    <table ng-repeat="thread in ac.adminThreadFactoryObject.list">
      <tr>
        <td> <input type="text" placeholder="mfg name" ng-model="thread.mfgname"> MFG Name </input></td>
        <td> <input type="text" placeholder="blank name" ng-model="thread.color"> Color </td>
        <td> <input type="text" placeholder="blank length" ng-model="thread.threadnumber"> Thread Number </td>
        <td> <input type="text" placeholder="blank material" ng-model="thread.image"> Image </td>
        <td> <select ng-model="thread.certified" name=""> Certify Entry
               <option value="">  </option>
               <option value="true"> Yes </option>
             </select>
        </td>
        <td> <button type="button" name="button" ng-click="ac.updateThread(thread)"> UPDATE </button> </td>
        <td> <button type="button" name="button" ng-click="ac.deleteThread(thread)"> DELETE </button> </td>
      </tr>
    </table>
  </div>
