
<div class="center">
<!-- blank stat's submit start -->
  <h1 class="animated slideInRight"> Add New Blank! </h1>

<!-- top page inputs -->
  <div id="inputDiv">
    <div id="inputInputs" class="animated slideInLeft">
      <label for="blankName"> Blank Name </label>
      <input type="text" name="blankName" value="" ng-model="ic.newBlankOrder.blankName">
    </div>
    <div id="inputInputs" class="animated slideInLeft">
      <label for="mfgName"> MFG Name </label>
      <input type="text" name="mfgName" value="" ng-model="ic.newBlankOrder.mfgName">
    </div>
    <div id="inputInputs" class="animated slideInLeft">
      <label for="blankLength"> Blank Length </label>
      <input type="text" name="blankLength" value="" ng-model="ic.newBlankOrder.blankLength">
    </div>
    <div id="inputInputs" class="animated slideInLeft">
      <label for="blankMaterial"> Blank Material </label>
      <input type="text" name="blankMaterial" value="" ng-model="ic.newBlankOrder.blankMaterial">
    </div>
    <div id="inputInputs" class="animated slideInLeft">
      <label for="handleLength"> Handle Length </label>
      <input type="text" name="handleLength" value="" ng-model="ic.newBlankOrder.handleLength">
    </div>
  </div>

<!-- guide size input table -->
  <table class="animated slideInRight">
    <thead>
      <tr>
        <th> Guide Sizes </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- original ng-model was like this for all guide sizes (ng-model="ic.newBlankOrder.guideSize.guideFive)
        I removed the "guideSize" and add size (guide+ Size +#) -->
        <td class="animated slideInRight">
          <label for="tipTip"> Tip-Top </label>
          <input type="text" name="tipTop" value="" ng-model="ic.newBlankOrder.guideSizeTipTop">
        </td>
        <td class="animated slideInRight" >
          <label for="guideTwo"> Second Guide </label>
          <input type="text" name="guidetwo" value="" ng-model="ic.newBlankOrder.guideSizeTwo">
        </td>
        <td class="animated slideInRight" >
          <label for="guideThree"> Third Guide </label>
          <input type="text" name="guideThree" value="" ng-model="ic.newBlankOrder.guideSizeThree">
        </td>
        <td class="animated slideInRight" >
          <label for="guideFour"> Fourth Guide </label>
          <input type="text" name="guideFour" value="" ng-model="ic.newBlankOrder.guideSizeFour">
        </td>
        <td class="animated slideInRight" >
          <label for="guideFive"> Fifth Guide </label>
          <input type="text" name="guideFive" value="" ng-model="ic.newBlankOrder.guideSizeFive">
        </td>
        <td class="animated slideInRight" >
          <label for="guideSix"> Sixth Guide </label>
          <input type="text" name="guideSix" value="" ng-model="ic.newBlankOrder.guideSizeSix">
        </td>
      </tr>
    </tbody>
  </table>

<!-- referance image -->
  <img src="assets/images/iceRod.png" class="animated slideInLeft" alt="">

<!-- guide spacing input table -->
  <table>
    <thead>
      <tr>
        <td class="animated slideInRight">
          <!-- original ng-model was like this for all guide sizes (ng-model="ic.newBlankOrder.guideSpacing.twoThree")
          I removed the "guideSpacing" -->
          <label for="oneTwo"> TipTop - Second Guide </label>
          <input type="text" name="oneTwo" value="" ng-model="ic.newBlankOrder.oneTwo">
        </td>
        <td class="animated slideInRight">
          <label for="twoThree"> Second Guide - Third Guide </label>
          <input type="text" name="twoThree" value="" ng-model="ic.newBlankOrder.twoThree">
        </td>
        <td class="animated slideInRight">
          <label for="threeFour"> Third Guide - Fourth Guide </label>
          <input type="text" name="threeFour" value="" ng-model="ic.newBlankOrder.threeFour">
        </td>
        <td class="animated slideInRight">
          <label for="fourFive"> Fourth Guide - Fifth Guide </label>
          <input type="text" name="fourFive" value="" ng-model="ic.newBlankOrder.fourFive">
        </td>
        <td class="animated slideInRight">
          <label for="fiveSix"> Fifth Guide - Sixth Guide </label>
          <input type="text" name="fiveSix" value="" ng-model="ic.newBlankOrder.fiveSix">
        </td>
      </tr>
    </thead>
    <tbody>
      <tr class="animated slideInRight">
        <th class="thCenter"> Measurements (guide to guide) </th>
      </tr>
    </tbody>
  </table>

<!-- new blank stats submit button -->
  <div class="animated slideInLeft">
    <button ng-click="ic.addBlanks(ic.newBlankOrder)"  class="c-button c-button--rounded c-button--ghost-success"> SUBMIT New Blank </button>
  </div>
</div>


<!-- end of blank inputs start of threat input -->


<div class="center">
<!-- thread color sumbit start -->
  <h1 class="animated slideInRight" id="threadHeading"> Add New Thread! </h1>

    <div id="threadInputDiv">
      <div class="animated slideInLeft" id="threadInputDiv">
        <label for="mfgName"> MFG Name </label>
        <input type="text" name="mfgName" value="" ng-model="ic.newThreadOrder.mfgName">
      </div>
      <div class="animated slideInLeft" id="threadInputDiv">
        <label for="color"> Color </label>
        <input type="text" name="color" value="" ng-model="ic.newThreadOrder.color">
      </div>
      <div class="animated slideInLeft" id="threadInputDiv">
        <label for="image"> Image </label>
        <input type="text" name="image" value="" ng-model="ic.newThreadOrder.image">
        <!-- <input type="file" name="image" value="newBlankOrder.image" ng-model="ic.newThreadOrder.image" accept="image/*"> -->
      </div>
    </div>

<!-- new thread color submit button -->
    <div class="animated slideInRight" id="threadButton">
      <button class="c-button c-button--rounded c-button--ghost-success" type="button" name="button" ng-click="ic.addThreads(ic.newThreadOrder)"> SUBMIT New Thread Color </button>
    </div>
</div>
