

<!-- authentication login/logout/register -->
  <div class="animated slideInLeft" id="authButtonsInput">
    <button type="button" ng-show="ic.email === NULL" class="authButtons" ng-click="ic.authUser()"> Login </button>
    <button type="button" ng-hide="ic.email === NULL" class="authButtons" ng-click="ic.deAuthUser()"> Logout </button>
    <button type="button" ng-show="ic.email === NULL" class="authButtons"><a ng-href="https://accounts.google.com/SignUp?hl=en"> Register </a></button>
    <img ng-hide="ic.email === NULL" id="authImage" src="{{ic.photo}}" alt=""> {{ic.email}}
  </div>
  <div id="arrow" ng-show="ic.email === NULL" class="animated slideInLeft"> Get Authenticated! <img id="arrowImage" src="assets/images/arrow.png" alt=""> </div>
<!-- heading when not logged in -->
  <h1 ng-show="ic.email === NULL" class="animated slideInRight" id="loginView"> Must Be <img id="authImageTitle" src="assets/images/auth.jpg" alt=""> To View </h1>
<!-- element container -->
  <div ng-hide="ic.email === NULL" class="center">
<!-- blank stat's submit start -->
    <h1 class="animated slideInRight"> Add New Blank! </h1>
<!-- top page inputs -->
      <table id="inputDiv">
        <td>
          <div id="inputInputs" class="animated slideInLeft">
            <label for="blankName"> Blank Name </label>
              <input type="text" name="blankName" placeholder="" ng-model="ic.newBlankOrder.blankName">
          </div>
        </td>
        <td>
          <div id="inputInputs" class="animated slideInLeft">
            <label for="mfgName"> MFG Name </label>
              <input type="text" name="mfgName" placeholder="" ng-model="ic.newBlankOrder.mfgName">
          </div>
        </td>
        <td>
          <div id="inputInputs" class="animated slideInLeft">
            <label for="blankLength"> Blank Length </label>
              <input type="text" name="blankLength" placeholder='"' ng-model="ic.newBlankOrder.blankLength">
          </div>
        </td>
        <td>
          <div id="inputInputs" class="animated slideInLeft">
            <label for="blankMaterial"> Blank Material </label>
              <input type="text" name="blankMaterial" placeholder="" ng-model="ic.newBlankOrder.blankMaterial">
          </div>
        </td>
        <td>
          <div id="inputInputs" class="animated slideInLeft">
            <label for="handleLength"> Handle Length </label>
              <input type="text" name="handleLength" placeholder='"' ng-model="ic.newBlankOrder.handleLength">
          </div>
        </td>
      </table>
<!-- guide size input table -->
      <table id="guideInputTable">
        <thead>
          <tr>
            <h5 id="thCenter" class="animated slideInRight"> Guide Sizes </h5>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="animated slideInRight">
              <div>
                <label for="tipTip"> Tip-Top </label>
                  <input type="text" name="tipTop" placeholder="#" ng-model="ic.newBlankOrder.guideSizeTipTop">
              </div>
            </td>
            <td class="animated slideInRight" >
              <div>
                <label for="guideTwo"> Second </label>
                  <input type="text" name="guidetwo" placeholder="#" ng-model="ic.newBlankOrder.guideSizeTwo">
              </div>
            </td>
            <td class="animated slideInRight" >
              <div>
                <label for="guideThree"> Third </label>
                  <input type="text" name="guideThree" placeholder="#" ng-model="ic.newBlankOrder.guideSizeThree">
              </div>
            </td>
            <td class="animated slideInRight" >
              <div>
                <label for="guideFour"> Fourth </label>
                  <input type="text" name="guideFour" placeholder="#" ng-model="ic.newBlankOrder.guideSizeFour">
              </div>
            </td>
            <td class="animated slideInRight" >
              <div>
                <label for="guideFive"> Fifth </label>
                  <input type="text" name="guideFive" placeholder="#" ng-model="ic.newBlankOrder.guideSizeFive">
              </div>
            </td>
            <td class="animated slideInRight" >
              <div>
                <label for="guideSix"> Sixth </label>
                  <input type="text" name="guideSix" placeholder="#" ng-model="ic.newBlankOrder.guideSizeSix">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
<!-- referance image -->
    <img id="iceRod6" src="assets/images/iceRod.png" class="animated slideInLeft" alt="">
<!-- guide spacing input table -->
      <table id="spacingInputTable">
        <tr>
          <td class="animated slideInRight">
            <div>
              <label for="oneTwo"> TipTop - Second </label>
                <input type="text" name="oneTwo" placeholder='"' ng-model="ic.newBlankOrder.oneTwo">
            </div>
          </td>
          <td class="animated slideInRight">
            <div>
              <label for="twoThree"> Second Guide - Third </label>
                <input type="text" name="twoThree" placeholder='"' ng-model="ic.newBlankOrder.twoThree">
            </div>
          </td>
          <td class="animated slideInRight">
            <div>
              <label for="threeFour"> Third Guide - Fourth </label>
                <input type="text" name="threeFour" placeholder='"' ng-model="ic.newBlankOrder.threeFour">
            </div>
          </td>
          <td class="animated slideInRight">
            <div>
              <label for="fourFive"> Fourth Guide - Fifth </label>
                <input type="text" name="fourFive" placeholder='"' ng-model="ic.newBlankOrder.fourFive">
            </div>
          </td>
          <td class="animated slideInRight">
            <div>
              <label for="fiveSix"> Fifth Guide - Sixth </label>
                <input type="text" name="fiveSix" placeholder='"' ng-model="ic.newBlankOrder.fiveSix">
            </div>
          </td>
        </tr>
      </table>
    <h5 id="thCenter" class="animated slideInRight"> Measurements (guide to guide) </h5>
<!-- new blank stats submit button -->
      <div id="statsButton" class="animated slideInLeft">
        <button ng-click="ic.addBlanks(ic.newBlankOrder)"  class="c-button c-button--rounded c-button--ghost-success"> SUBMIT New Blank </button>
      </div>
    </div>

<!-- end of blank inputs start of threat input -->

<!-- element container div -->
    <div ng-hide="ic.email === NULL" class="center">
<!-- thread color sumbit start -->
      <h1 class="animated slideInRight"> Add New Thread! </h1>
        <div id="threadInputDiv">
          <div class="animated slideInLeft" id="threadInputDiv">
            <label for="mfgName"> MFG Name </label>
              <input type="text" name="mfgName" placeholder="mfg name" ng-model="ic.newThreadOrder.mfgName">
          </div>
          <div class="animated slideInLeft" id="threadInputDiv">
            <label for="color"> Color </label>
              <input type="text" name="color" placeholder="color" ng-model="ic.newThreadOrder.color">
          </div>
          <div class="animated slideInLeft" id="threadInputDiv">
            <label for="threadNumber"> Thread Number </label>
              <input type="text" name="threadNumber" placeholder="thread number" ng-model="ic.newThreadOrder.threadNumber">
          </div>
          <div class="animated slideInLeft" id="threadInputDiv">
            <label for="image"> Image </label>
              <input type="text" name="image" placeholder="url" ng-model="ic.newThreadOrder.image">
          <!-- <input type="file" name="image" ng-model="ic.newThreadOrder.image"> -->
          </div>
        </div>
<!-- new thread color submit button -->
        <div class="animated slideInRight" id="threadButton">
          <button class="c-button c-button--rounded c-button--ghost-success" type="button" name="button" ng-click="ic.addThreads(ic.newThreadOrder)"> SUBMIT New Thread Color </button>
        </div>
    </div>
