<!-- onload = averything from database -->
<!-- newBlank = info selected from select options -->

  <h1> Spacing Calculator! </h1>

<!-- blank model selectors -->
  <div class="animated slideInRight">
    <label for="blankName"> Blank Model: </label>
      <select name="blankName" ng-model="sc.newBlank.blankName">
        <option ng-repeat="onLoad in sc.onLoad.list" value="{{onLoad.blankname}}"> {{onLoad.blankname}} </option>
      </select>
  </div>
<!-- blank length selectors -->
  <div class="animated slideInRight">
    <label for="blankLength"> Blank Length: </label>
      <select name="blankLength" ng-model="sc.newBlank.blankLength">
        <option ng-repeat="onLoad in sc.onLoad.list" value='{{onLoad.blanklength}}"'> {{onLoad.blanklength}} </option>
      </select>
  </div>
<!-- handle length selectors -->
  <div class="animated slideInRight">
    <label for="handleLength"> Handle Length: </label>
      <select name="handleLength" ng-model="sc.newBlank.handleLength">
        <option value='3"'> 3" </option>
        <option value='5"'> 5" </option>
        <option value='8"'> 8" </option>
      </select>
<!-- submit button -->
    <button ng-click="sc.getSpecificBlank(newBlank)" class="animated slideInRight" ng-hide=""> SUBMIT </button>
  </div>

<!-- current blank data display -->
  <h3 class="animated slideInLeft">
    <div> Blank Name: {{sc.newBlank.blankName}} </div>
    <div> Blank Length: {{sc.newBlank.blankLength}} </div>
    <div> Handle Length: {{sc.newBlank.handleLength}} </div>
  </h3>

<!-- Guide size table -->
  <table>
    <thead class="animated slideInRight">
      <tr>
        <th> Guide Sizes: </th>
      </tr>
    </thead>
    <tbody class="animated slideInLeft">
      <tr ng-repeat="blank in sc.getSpecificBlankObject.list">
        <td> Tip-Top: {{blank.guides.guideSize}} </td>
        <td> 2nd: {{blank.guides.guideSize}} </td>
        <td> 3rd: {{blank.guides.guideSize}} </td>
        <td> 4th: {{blank.guides.guideSize}} </td>
        <td> 5th: {{blank.guides.guideSize}} </td>
        <td> 6th: {{blank.guides.guideSize}} </td>
      </tr>
    </tbody>
  </table>
<!-- reference image -->
  <img src="assets/images/iceRod.png" class="animated rotateIn" alt="">
<!-- guide spacing table -->
  <table>
    <thead class="animated slideInRight">
      <tr>
        <th> Guide Spacing: </th>
      </tr>
    </thead>
    <tbody class="animated slideInLeft">
      <tr ng-repeat="blank in sc.getSpecificBlankObject.list">
        <td> TipTop - Second Guide: {{blank.guides.guideSpacing}} </td>
        <td> Second - Third Guide: {{blank.guides.guideSpacing}} </td>
        <td> Third - Fourth Guide: {{blank.guides.guideSpacing}} </td>
        <td> Fourth - Fifth Guide: {{blank.guides.guideSpacing}} </td>
        <td> Fifth - Sixth Guide: {{blank.guides.guideSpacing}} </td>
      </tr>
    </tbody>
  </table>
<!-- print button   -->
  <div class="animated slideInLeft">
    <button type="button" name="print" ng-click="sc.print()" id="printButton" class="c-button c-button--rounded c-button--ghost-brand"> Print </button>
  </div>
