<body ng-controller="SpacingController">
<!-- option selectors -->
  <div class="">
    <label for="blankName"> Blank Model: </label>
    <select name="blankName" ng-model="sc.newBlank.blankName">
      <option value=""> Blank Name </option>
    </select>
  </div>

  <div class="">
    <label for="blankLength"> Blank Length: </label>
    <select name="blankLength" ng-model="sc.newBlank.blankLength">
      <option value=""> Blank Length </option>
    </select>
  </div>

  <div class="">
    <label for="handleLength"> Handle Length: </label>
    <select name="handleLength" ng-model="sc.newBlank.handleLength">
      <option value=""> Handle Length </option>
    </select>
<!-- ng-options="power.id as power.name for power in entry.powers track by power.id" -->
  </div>

  <button ng-click="sc.getBlanks(sc.newBlank)"> SUBMIT </button>

<!-- current blank data display -->
  <h2>
    <ul ng-repeat="blank in sc.blankData">
    <div> Blank Length: {{sc.blank.blankName}} </div>
    <div> MFG Name: {{sc.blank.mfgName}} </div>
    <div> Blank Name: {{sc.blank.blankLength}} </div>
    <div> Handle Length: {{sc.blank.handleLength}} </div>
  </h2>

<!-- Guide size table -->
  <table>
    <thead>
      <tr>
        <th> Guide Sizes </th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <!-- <tr ng-repeat="blank in sc.blankData"> -->
        <td> Tip-Top: {{sc.blank.guides.guideSize}} </td>
        <td> 2nd: {{sc.blank.guides.guideSize}} </td>
        <td> 3rd: {{sc.blank.guides.guideSize}} </td>
        <td> 4th: {{sc.blank.guides.guideSize}} </td>
        <td> 5th: {{sc.blank.guides.guideSize}} </td>
        <td> 6th: {{sc.blank.guides.guideSize}} </td>
      </tr>
    </tbody>
  </table>

<!-- reference image -->
  <img src="assets/images/iceRod.png" alt="">

<!-- guide spacing table -->
  <table>
    <thead>
      <tr>
        <th> Guide Spacing </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> TipTop - Second Guide: {{sc.blank.guides.guideSpacing}} </td>
        <td> Second - Third Guide: {{sc.blank.guides.guideSpacing}} </td>
        <td> Third - Fourth Guide: {{sc.blank.guides.guideSpacing}} </td>
        <td> Fourth - Fifth Guide: {{sc.blank.guides.guideSpacing}} </td>
        <td> Fifth - Sixth Guide: {{sc.blank.guides.guideSpacing}} </td>
      </tr>
    </tbody>
  </table>
</body>
