
<h1 class="animated slideInRight"> Wrap Designer! </h1>

<!-- table wrap view -->
<div id="wrapTable" align="center">
<table class="animated slideInLeft">
  <thead>
    <tr>
      <td> Blank Color </td>
      <td> Color One </td>
      <td> Color Two </td>
      <td> Color Three </td>
      <td> Color Four </td>
      <td> Color Five </td>
      <td> Blank Color </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width=350> <img ng-src="{{wc.newColorBlank.blankColor}}" class="tdBlank"> </td>
      <td width={{wc.turns.colorOne}}> <img ng-src="{{wc.newColor.colorOne}}" class="tdThread"> </td>
      <td width={{wc.turns.colorTwo}}> <img ng-src="{{wc.newColor.colorTwo}}" class="tdThread"> </td>
      <td width={{wc.turns.colorThree}}> <img ng-src="{{wc.newColor.colorThree}}" class="tdThread"> </td>
      <td width={{wc.turns.colorFour}}> <img ng-src="{{wc.newColor.colorFour}}" class="tdThread"> </td>
      <td width={{wc.turns.colorFive}}> <img ng-src="{{wc.newColor.colorFive}}" class="tdThread"> </td>
      <td width=350> <img ng-src="{{wc.newColorBlank.blankColor}}" class="tdBlank"> </td>
    </tr>
  </tbody>
</table>
</div>

<!-- selecters -->
<div id="viewSelecterCenter">

<!-- blank color selector -->
  <div class="animated slideInRight" class="selectorDiv">
    <label for="blankColor"> Blank Color: </label>
    <select name="blankColor" ng-model="wc.newColorBlank.blankColor">
      <option ng-repeat="colorBlank in wc.blankColorFactoryObject.list" value='{{colorBlank.image}}'> {{colorBlank.color}} </option>
    </select>
  </div>

<!-- colorOne selector -->
  <div class="animated slideInRight" class="selectorDiv">
    <label for="colorOne"> Color One: </label>
    <input type="text" name="colorOne" value="2" class="selectorInput" ng-model="wc.turns.colorOne">
    <select name="colorOne" ng-model="wc.newColor.colorOne">
      <option ng-repeat="color in wc.colorObject.list" value='{{color.image}}'> {{color.color}} </option>
    </select>
  </div>

<!-- colorTwo selector -->
  <div class="animated slideInRight" class="selectorDiv">
    <label for="colorTwo"> Color Two: </label>
    <input type="text" name="colorTwo" value="2" class="selectorInput" ng-model="wc.turns.colorTwo">
    <select name="colorTwo" ng-model="wc.newColor.colorTwo">
      <option ng-repeat="color in wc.colorObject.list" value='{{color.image}}'> {{color.color}} </option>
    </select>
  </div>

<!-- colorThree selector -->
  <div class="animated slideInRight" class="selectorDiv">
    <label for="colorThree"> Color Three: </label>
    <input type="text" name="colorThree" value="2" class="selectorInput" ng-model="wc.turns.colorThree">
    <select name="colorThree" ng-model="wc.newColor.colorThree">
      <option ng-repeat="color in wc.colorObject.list" value='{{color.image}}'> {{color.color}} </option>
    </select>
  </div>

<!-- colorFour selector -->
  <div class="animated slideInRight" class="selectorDiv">
    <label for="colorFour"> Color Four: </label>
    <input type="text" name="colorFour" value="2" class="selectorInput" ng-model="wc.turns.colorFour">
    <select name="colorFour" ng-model="wc.newColor.colorFour">
      <option ng-repeat="color in wc.colorObject.list" value='{{color.image}}'> {{color.color}} </option>
    </select>
  </div>

<!-- colorFive selector -->
  <div class="animated slideInRight" class="selectorDiv">
    <label for="colorFive"> Color Five: </label>
    <input type="text" name="colorFive" value="2" class="selectorInput" ng-model="wc.turns.colorFive">
    <select name="colorFive" ng-model="wc.newColor.colorFive">
      <option ng-repeat="color in wc.colorObject.list" value='{{color.image}}'> {{color.color}} </option>
    </select>
  </div>
</div>

<!-- print button -->
<div class="animated slideInLeft">
  <button type="button" name="print" ng-click="wc.print()" id="printButton" class="c-button c-button--rounded c-button--ghost-brand"> Print </button>
</div>
