
<nav>
  <div class="views">
    <table>
      <div class="authButtons">
        <button type="button" name="button" class="authButtons" ng-click="nc.authUser()"> Login </button>
        <button type="button" name="button" class="authButtons" ng-click="nc.deAuthUser()"> Logout </button>
        <button type="button" name="button" class="authButtons" ng-click="nc.finderWindow()"> Register </button>
      </div>
      <ul class="nav nav-justified">
        <li><a href="#!spacing_view" id="liNav"> Spacing Calculator </a></li>
        <li><a href="#!wrap_view" id="liNav"> Wrap Designer </a></li>
        <li><a href="#!input_view" id="liNav"> Submit Stats! </a></li>
      </ul>
    </table>
  </div>
</nav>
