/*<---------------------------------->*/
/*<------------ NAV VIEW ------------>*/
/*<---------------------------------->*/

.views {
  font-size: 20px;
  box-shadow: 0px 1px 2px 2px rgba(135, 182, 245, 0.1) inset, 0px -2px 20px #24ee08, 0px 1px 5px rgba(135, 182, 245, 0.1), 0px 2px 10px rgba(135, 182, 245, 0.1);
  color: #24ee08;
  background-color: #696868;

}

/*nav buttons background*/
#liNav {
  color: #24ee08;
  background-color: #000000;
}

/*admin nav button area background*/
#adminButtonDiv {
  background-color: #000000;
  text-align: right;
  font-size: 10px;
  padding: 10px 20px 0px 0px;
}

/*nav buttons*/
.navButtons {
  font-size: 20px;
}


/*<---------------------------------->*/
/*<------- GUIDE SPACING VIEW ------->*/
/*<---------------------------------->*/

/*guide size table*/
.guideSizeTable6 {
  width: 48%;
  text-align: center;
  margin-left: 120px;
  margin-top: 30px;
  margin-bottom: -15px;
}

.guideSizeTable5 {
  width: 45%;
  margin-left: 160px;
  margin-top: 30px;
  margin-bottom: -15px;
  text-align: center;
}

.guideSizeTable4 {
  width: 41%;
  text-align: center;
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: -15px;
}


/*guide spacing table*/
.guideSpacingTable6 {
  width: 34%;
  text-align: center;
  margin-left: 138px;
}

.guideSpacingTable5 {
  width: 36%;
  text-align: center;
  margin-left: 185px;
}

.guideSpacingTable4 {
  width: 28%;
  text-align: right;
  margin-left: 225px;
}

/*mfg length handle length display*/
.spacingData {
  font-size: 20px;
  font-family: serif;
}





/*headings for blank data*/
#tdSix1 {
  font-size: 16px;
  font-family: serif;
}

#tdSix2 {
  font-size: 16px;
  font-family: serif;
}

#tdSix3 {
  font-size: 16px;
  font-family: serif;
}

#tdSix4 {
  font-size: 16px;
  font-family: serif;
}

#tdSix5 {
  font-size: 16px;
  font-family: serif;
  padding-left: 15px;
}

#tdSix6 {
  font-size: 16px;
  font-family: serif;
  padding-left: 20px;
}

#tdSix7 {
  font-size: 16px;
  font-family: serif;
}

#tdSix8 {
  font-size: 16px;
  font-family: serif;
}

#tdSix9 {
  font-size: 16px;
  font-family: serif;
}

#tdSix10 {
  font-size: 16px;
  font-family: serif;
  padding-right: 28px;
}

#tdSix11 {
  font-size: 16px;
  font-family: serif;
}



#tdFive1 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
}

#tdFive2 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
}

#tdFive3 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
}

#tdFive4 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  padding-right: 18px;
}

#tdFive5 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
}

#tdFive6 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
}

#tdFive7 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
}

#tdFive8 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
}

#tdFive9 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
}

#tdFive10 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  padding-right: 15px;
}

#tdFive11 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  padding-left: 10px;
}



#tdFour1 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  border: 1px solid black;
  margin-left: 800px;
}

#tdFour2 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  border: 1px solid black;
}

#tdFour3 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  border: 1px solid black;
}

#tdFour4 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  border: 1px solid black;
}

#tdFour5 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  border: 1px solid black;
}

#tdFour6 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  border: 1px solid black;
}

#tdFour7 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  border: 1px solid black;
  padding-left: 30px;
}

#tdFour8 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  border: 1px solid black;
}

#tdFour9 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  border: 1px solid black;
  width: 100px;
  padding-left: 40px;
}

#tdFour10 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
  border: 1px solid black;
}

#tdFour11 {
  font-size: 16px;
  font-family: serif;
  text-align: center;
}


/*bName, bLength, hLength container*/
#dataDisplay {
  text-align: center;
}

#guideSize {
  font-size: 20px;
  font-family: serif;
}

#guideSpacing {
  font-size: 20px;
  font-family: serif;
}

/*print button*/
#printButtonSpacing {
  margin-top: 50px;
  margin-left: 900px;
}


/*<---------------------------------->*/
/*<------- WRAP DESIGNER VIEW ------->*/
/*<---------------------------------->*/

/*label table*/
.wrapTable {
  padding-top: 30px;
}
/*table column thread image*/
.tdThread {
  height: 30px;
  border-radius: 1.5px;
}
/*table column blank image*/
.tdBlank {
  height: 25px;
  width: 320px;
}
/*# of turns input*/
.selectorInput {
  width: 40px;
}
/*container holding all selects and inputs*/
#viewSelecterCenter{
  text-align: center;
  margin: 80px 0px 10px 0px;
  display: block;
}
/*print button*/
#printButtonWrap {
  margin: 12px 0px 80px 1100px;
}


/*<---------------------------------->*/
/*<---------- DB INPUT VIEW --------->*/
/*<---------------------------------->*/

/*authentication buttons*/
#authButtonsInput {
  text-align: right;
  font-size: 10px;
  margin: 5px 3px 0px 0px;
}
/*heading and input container*/
#loginView {
  margin-top: 150px;
}
/*google image*/
#authImage {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 0px;
  border-style: none;
}
/*adjusts the green arrow*/
#arrow{
  text-align: right;
  margin: 10px 90px 0px 0px;
  font-family: fantasy;
  font-size: 16px;
}
/*text by arrow*/
#arrowImage{
  height: 30px;
  text-align: right;
  margin: 0px 8px 0px 0px;
  font-family: fantasy;
}
/*google auth picture heading*/
#authImageTitle {
  height: 75px;
  margin: 0px 0px 0px 0px;
}
/*info input div container*/
#inputInputs {
  display: inline-block;
  text-align: center;
}
/*guide input div container*/
#guideInputTable {
  font-size: 12px;
  width: 80%;
}
/*guide input div container*/
#spacingInputTable {
  font-size: 12px;
  width: 80%;
}
/*outer container for all input divs*/
#inputDiv {
  margin: 40px 0px 40px 0px;
  font-size: 14px;
  display: block;
}
/*input divs*/
#threadInputDiv {
  display: inline-block;
  text-align: center;
  font-size: 15px;
}

#statsButton {
  margin: 20px 0px 100px 0px;
}
/*threat submit button*/
#threadButton {
  margin: 20px 0px 40px 0px;
}
/*centers 'measurements (guide to guide)'*/
#thCenter {
  text-align: center;
  font-size: 22px;
  margin: 20px 0px 20px 0px;
}
/*centers all threat elemnts*/
.center {
  text-align: center;
}


/*<----------------------------------->*/
/*<--- image on stats and DB views --->*/
/*<---------------------------------->*/

/*rod image between tables*/
#iceRod6 {
  width: 100%;
  margin-left: 150px;
}
/*rod image between tables*/
#iceRod5 {
  width: 100%;
  margin-left: 150px;
}
/*rod image between tables*/
#iceRod4 {
  width: 100%;
  margin-left: 150px;
}



/*<---------------------------------->*/
/*<----------- ADMIN VIEW ----------->*/
/*<---------------------------------->*/

/*login container*/
#adminLoginDiv {
  text-align: center;
  margin-top: 175px;
}
/*login heading*/
#adminLoginHeading {
  font-size: 35px;
  text-align: center;
  margin-top: 175px;
}
/*login input*/
#adminLogin {
  text-align: center;
  font-size: 20px;
}
/*blankj stats heading*/
#blankHeading {
  font-size: 22px;
  margin-left: 30px;
}

#adminTable {
  margin: 4px;
  border: 3px solid black;
  padding: 5px;
  width: 95%;
}

#tableDiv {
  margin-bottom: 50px;
  width: 100%;
}

.adminTd {
  margin: 4px;
  border: 1px solid black;
  text-align: right;
  padding: 3px;
  font-size: 12px;
}

.threadTd {
  text-align: center;
  margin: 4px;
  border: 1px solid black;
  padding: 3px;
  font-size: 12px;
}
/*delete/update buttons*/
.upDelete {
  width: 75px;
}

/*column headings*/
.titleCenter {
  text-align: center;
  font-size: 20px;
}

.cert {
  font-size: 10px;
  text-align: center;
}

#threadHeading {
  font-size: 22px;
  margin-bottom: 0px;
  margin-left: 30px;
}

#noData {
  text-align: center;
  font-size: 50px;
  margin-top: 150px;
  text-shadow: 3px 3px #24ee08;
}

/*<---------------------------------->*/
/*<------------- footer ------------->*/
/*<---------------------------------->*/

.footer-center {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  color: #24ee08;
  background-color: #000000;
  box-shadow: 0px 1px 2px 2px rgba(135, 182, 245, 0.1) inset, 0px -2px 20px #24ee08, 0px 1px 5px rgba(135, 182, 245, 0.1), 0px 2px 10px rgba(135, 182, 245, 0.1);
  text-align: center;
}


/*<------------------------------------->*/
/*<-- applies to elemnts on all views -->*/
/*<------------------------------------->*/

/*allheadings*/
h1 {
  font-family: fantasy;
  text-align: center;
  font-size: 50px;
  margin: 30px 0px 40px 0px;
}

input {
  border-radius: 8px;
  margin: 2px;
  outline: none;
}
